*.~*~
*.pyc
.catkin_workspace
*build/
*devel/
*logs/
*install/
*.log
Log_*
Todo.txt
debug/
*.so*
docs/
*.user.*
*.pro.user.*
*.so*
/NetBeansProjects/linalg/javaposemath/nbproject/private/
/NetBeansProjects/GwendolenCrclClient/target/
/NetBeansProjects/GwendolynCrclClient/dist/
/NetBeansProjects/ajpf/ajpf2018/nbproject/private/
/NetBeansProjects/ajpf/ajpf2018/dist/